<%- include('partials/header') %>
    <header>
        <span class="titulo">Unidades de medida</span>
    </header>
    <main>
        <div class="main-header">
            <%- include("partials/busqueda") %>
            <%- include("partials/btn-nuevo") %>
        </div>
        <div class="table-container">
            <table id="table" >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </main>
<script>document.getElementById("btn-unidades-medida").classList.add("selected");</script>
<script src="js/unidades-medida.js"></script>
<%- include('partials/footer') %>